@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    list-style: none;
    text-decoration: none;

}

html{
    /* scroll-behavior: smooth; */
}

:root{
    --laranja: #e75f17;
    --verde: #468847;
    --cinza: #413f3f;
    --dark-cinza:#292828;
    --fonte: 'Noto Sans','Open Sans bold', sans-serif;
    --bg-index: url('svg/Frame 6backgreen.svg');
    --bg-index-mb: url('svg/mobmob.svg');
    --bg-desk-mb: url('svg/mobmini-desk-green.svg');
    --bg-color: #fdfdf2;
}

/**/
/* colors var(--laranjv)ar(a laranja); verde  var(--verde); pastel #f1f1e6;*/


body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    
    /* background-image: url('imagens/jason-dent-unsplash.jpg'); */
    /* background-image: url('imagens/peter-de-lucia-eKZebEKI9mo-unsplash.jpg'); */
    /* background-image: url('imagens/artur-luczka-loAfOVk1eNc-unsplash.jpg'); */
 
    /* background-color: #fefefe; <form action="<?php echo $_SERVER['PHP_SELF'];?>">*/

}

/****** sessao 1 *********/
#s1{
    display: flex;
    background-color: #dadde1; /* fria */
    background-color: #fdfdf2;
    margin: 0;
    padding: 0;
    
    
}
/* test */

.custom-shape-divider-bottom-1621127856 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1621127856 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 292px;
}

.custom-shape-divider-bottom-1621127856 .shape-fill {
    fill: #468847;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1621127856 svg {
        width: calc(216% + 1.3px);
        height: 427px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1621127856 svg {
        width: calc(204% + 1.3px);
        height: 312px;
    }
}

/* test fim*/

/* test2 */
.custom-shape-divider-top-1621129009 {
    position: absolute;
    top: 90;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1621129009 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 292px;
}

.custom-shape-divider-top-1621129009 .shape-fill {
    fill: #468847;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1621129009 svg {
        width: calc(216% + 1.3px);
        height: 427px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1621129009 svg {
        width: calc(204% + 1.3px);
        height: 312px;
    }
}

/* test2 fim */
/* svg sessao 3 */
.custom-shape-divider-bottom-1621222059 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: none;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621222059 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 350px;
    bottom: 200vh;
}

.custom-shape-divider-bottom-1621222059 .shape-fill {
    fill: #468847;
}
/* */
.caixote{
    
    height: 98vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-width: 290px;
    margin-left: 2rem;
    z-index: 2;
}

.main-index{
    display: block;
    align-items: center;
    width: 40vw;
 
}

.main-index h1{
    font-family: var(--fonte);
    color: var(--verde);
    margin-bottom: 5rem;
    margin-top: 0;
    min-width: 146px;
    font-size: clamp(18px, 3vw, 3vw);
    
}

.wrap-logo{
    display: flex;
    justify-content: none;
    align-items: center;
    width: clamp(7rem,20vw,20vw);
    height: clamp(6rem, 12vw, 12vw);

}

.main-logo {
    width: 5rem;
    font-size: clamp(18px, 2.5vw, 2.5vw);
}

.main-logo img{
    min-width: 34px;
    min-height: 28px;
    width: 3vw;
    height: 3vw;
}

.wrap-logo h3{
    font-family: var(--fonte);
    color: var(--laranja);
    width: clamp(5rem, 12vw, 12vw);
    font-size: clamp(18px, 2.5vw, 2.5vw);
    margin-left: 5px;
    
}

.main-index-2 img{
    min-width: 10rem; 
    min-height: 18rem;
    width: 20vw;
    height: 30vw;
    margin-left: 2px;
}

.discover{
    background-color: var(--laranja);
    background: rgb(231,95,23);
    background: linear-gradient(129deg, rgba(231,95,23,1) 34%, rgba(238,129,71) 99%);
    padding: 1rem 2rem;
    padding: 1.2rem 5.2rem;
    border-radius: 3rem;
    font-size: 19px;
    font-family: var(--fonte);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    
}
@media screen and (max-width: 900px){
    #discover{
        padding: 1.2rem 3rem;
        font-size: 17px;
    }
}

@media screen and (max-width: 400px){
    #discover{
        padding: 1.2rem 2rem;
        font-size: 16px;
    }
}
/* fim sessao 1 */

.sessao-2{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: var(--fonte);
}

.caixa2{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
.conteiner-s2{
    width: 80vw;
    height: 60vh;
    position: relative;
    top: 26vh;
    box-shadow: 5px 5px 5px 5px rgba(66, 78, 65, 0.4);
    background-color: rgba(255,255,255,0.2);
    border-top: rgba(255,255,255,0.5);
    border-left: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-content: center;

}
.wrap-container-s2{
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 6vh;
}

.content-s2{
    top: 3vh;
    width: 50%;
    min-width: 315px;
    position: relative;

}

.content-s2 h3{
    color: var(--laranja);
    font-size: clamp(18px, 1.2vw, 1.2vw);
}

.content-s2 h2{
    color: var(--verde);
    font-size: clamp(18px, 1.2vw, 1.2vw);
}

.btn-vermais-align{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

}

.btn-vermais{
    padding: 1rem 3rem;
    background-color: var(--verde);
    color: #fff;
    position: absolute;
    bottom: -4rem;

}
/* tela reduzida */

@media (max-width: 950px){
    .conteiner-s2{
        top: 18vh;
        height: 70vh;
    }
}

/* mobile sessao 2 */
@media (max-height: 812px){
    .conteiner-s2{
        top: 13vh;
        height: 70vh;
    }
    .content-s2 {
        min-width: 200px;
        overflow: auto;
        
    }
    .content-s2 h3{
        font-size: clamp(14px, 1.2vw, 1.2vw);
    }
    
    .content-s2 h2{
        font-size: clamp(14px, 1.2vw, 1.2vw);
    }
    .btn-vermais{
        padding: 0.8rem 2rem;
    
    }
}
/* fim sessao 2 */

/* sessao 3 */

.sessao-3{
    width: 100vw;
    height: 98vh;

}

.caixa3{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrap-caixa3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.container-3{
    position: relative;
    width: 80vw;
    height: 80vh;
}
.container-3 h2{
    color: var(--laranja);
    font-family: var(--fonte);
}

.alinhamento-teste{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1000px){
    .alinhamento-teste{
        display: inline-block;
    }
}

.display-teste{
    justify-content: center;
}

.formulario-teste{
    display: flex;
     
}
.form-alinhamento{
    position: relative;
    width: 44vw;
    height: 40rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.visualisar-pets{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}
.visualisar-pets form{
    justify-content: center;
    align-items: center;

}
.visualisar-pets input{
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 20rem;
    margin: 0.5rem;
    border: none;
    background-color: none;
    border-bottom: 1px solid var(--dark-cinza);
}
.visualisar-pets input:focus{
    outline-offset: none;
    border-bottom: 1px solid var(--dark-cinza);
    outline-color: var(--verde);
}
.visualisar-pets select{
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 20rem;
    margin: 0.5rem;
    border: none;
    background-color: none;
    border-bottom: 1px solid var(--dark-cinza);
}
/* fim sessao 3 */

/*Barra de menu inicio*/

.menu-navegacao{
    background: transparent;
    background-color: #f1f1e6;
    left: 0;
    position: fixed;
    text-align: center;
    text-transform: none;
    font-weight: bold;
    top: 0;
    width: clamp(100px,100vw,150%);
    height: 4.5rem;
    z-index: 400;
    font: 14px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;

}

.menu-navegacao a{
    text-decoration: none;
    color: var(--laranja);
    padding: 20px 0px;

}

.menu-navegacao a:hover{
    text-decoration: none;
    color: var(--verde);
    /* border-bottom: 2px solid var(--verde); */

}


.menu-nav-menu{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 4.5rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    transition: background .4s ease-out,box-shadow .4s ease-out,height .4s ease;
    z-index: 900;
    color: var(--laranja);
    /* color: #ed145b; */
}

.menu-central{
    position: relative;
    height: 0%;
    width: 100%;
}

.componentes-central{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    max-height: 100%;
    transition: max-height .4s ease;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;/**/
}

.menu-direita{
    position: relative;
}

.menu-esquerda{
   /* width: 12vw;*/
   display: flex;
   width: 16rem;
   align-items: center;
   justify-content: center;
}
.menu-esquerda img{
    /* width: 12vw;*/
    /*padding: 20px 0px;*/
 }
 .menu-esquerda a{
     
 }

.componentes-direita{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    -ms-flex-pack: justify;
    justify-content: space-between;  
}

.componentes-lista-direita{
    height: 100%;
    padding: 0px 20px;
    position: relative;
    cursor: pointer;
    
}

.componentes-lista-central{
    height: 100%;
    padding: 0 20px;
    position: relative;
}
/*barra de menu fim*/

/* Modal deletar PET*/



/* login btn */


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    color: var(--laranja);
    text-decoration: none;
    cursor: pointer;
  }

.login{
    display: flex;   
}

.login-principal{
    display: none;
    transition: 0s;
    position: fixed;
    z-index: 1000;
    padding-top: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);

}
.deletaranimal{
    display: none;
    transition: 0s;
    position: fixed;
    z-index: 998;
    padding-top: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);

}
  
@keyframes animatezoom{
    from{transform:scale(0)} 
    to{transform:scale(1)}
}

@keyframes animatetop{
    from{top:-300px;opacity:0}
     to{top:0;opacity:1}
}


.login-form{
    background-color: #f1f1e6;
    margin: auto;
    margin-top:2.4rem;
    padding: 12rem;
    border: 1px solid var(--verde);
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 0.8rem;
    animation: animatezoom 0.6s;

}

.login-form h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--laranja);
    /* border-bottom: 1px solid var(--laranja); */
    width: 100%;
    font-size: 2.2rem;
}

.login-form h2{
    text-transform: none;
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--verde);
    width: 100%;
    
}
.login-form input{
    width: 95%;
    padding: 0.6rem;
    margin-top: 1rem;
    
}
.login-form input:focus{
    outline-color: var(--verde);
}

.botao-sair{
    border: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #f1f1e6;
    color: var(--laranja);
    cursor: pointer;

}
.botao-sair:hover{
    border: none;
    font-size: 16px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    font-weight: bold;
    background-color: #f1f1e6;
    color: var(--verde);
    cursor: pointer;
}

.botao-logar{
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.botao-logar:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: var(--laranja);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.botao-cadastro{
    color: #FFF;
    background-color: var(--laranja);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.botao-cadastro:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}
/* login btn fim */

/* botao logout */

.clos-modal{
    display: none;
    transition: 0s;
    position: fixed;
    z-index: 1001;
    padding-top: 1rem;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: context-menu;

}

.logout{

    position: absolute;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    right: 0;
    
    
}

.logout h3{
    padding: 1rem 0rem 0rem 0rem;
    font-size: 1rem;
    color: var(--cinza);
    margin: 1rem 1rem;
    cursor: context-menu;
    
}
.alinhar-logout{
    background-color: #f1f1e6;
    position: relative;
    padding: 0rem 1rem;
    width: 250px;
    height: 100%;
    border-radius: 0.5rem;
    right: 0;
    top: 4rem;
    /* animation: animatezoom 0.1s; */
    border: 1px solid var(--verde);
    box-shadow: 5px 5px 5px 5px rgba(66, 78, 65, 0.5);
}

.ver-sair{
    display: flex;
    justify-content: space-around;
}


/* cadastro de pets */
.form-background{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    
}
.content-wrap{
    z-index: 2;
    box-shadow: 5px 5px 5px 5px rgba(66, 78, 65, 0.4);
    background-color: rgba(255,255,255,0.2);
    border-top: rgba(255,255,255,0.5);
    border-left: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    justify-content: space-around;
    width: 34vw;
    height: 80vh;
    overflow: auto;
    min-height: 55vh;
    border-radius: 0.8rem;
    position: relative;
    display: flex;
    top: 1.5rem;
}

.form-background2{
    box-shadow: 5px 10px 8px 10px rgba(66, 78, 65, 0.5);
    background-color: #f1f1e6;
    justify-content: space-around;
    width: 36rem;
    height: 43.5rem;
    border-radius: 0.8rem;
    position: relative;
}

.form-content{
    display: flex;
}
.form-content{
    padding: 12rem;
    width: 10%;
    display: flex;
    justify-content: center;
}

.form-content h1{
    
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--laranja);
    /* border-bottom: 1px solid var(--laranja); modficação do form*/
    width: 100%;
}

.contato{
    font-style: italic;
    text-align: center;
    font-size: clamp(23px, 1.4vw, 1.4vw);
}

.descricao{
    text-align: center;
}

.form-content h2{
    text-transform: none;
    font-size: 0.8rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--verde);
    width: 100%;
    
}
.form-content input{
    width: 95%;
    padding: 0.6rem;
    margin-top: 1rem;
    color: var(--cinza);
    
}
.form-content input:focus{
    outline-color: var(--verde);
}

.content-pets {
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    width: 90%; /* p */
    justify-content: center;
    align-items: center;
    position: relative;

}
.content-pets p{
    font-weight: bold;
    color: var(--dark-cinza);
    margin-top: 0;
    font-size: clamp(15px, 1vw, 1vw);
}

.nome-pet{
    color: var(--verde);
    text-align: center;
    font-family:'Kaushan Script', cursive;
    font-size: clamp(30px, 3.3vw, 3.3vw);
    margin: 0rem 0rem 2rem 0rem;
}

.titulo-pet{
    color: var(--verde);
    text-align: center;
    border-top: none;
    margin: 3rem 0rem 0rem 0rem;
    font-size: clamp(18px, 1.8vw, 1.8vw);
}

.content-pets h2{
    color: var(--laranja);
}
.content-pets h3{
    text-transform: none;
    color: var(--verde);
    margin-bottom: 0;
    font-size: clamp(15px, 1vw, 1vw);
}

.bt-alinhar{
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao-pet{
    position: relative;
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: clamp(14px, 1.2vw,1.2vw);
    font-weight: bold;
    text-transform: none;
    width: 20vw;

    height: 3.3rem;
    cursor: pointer;
    border-radius: 50px;
}

.botao-pet:hover{
    transition: 0.6s;
    background-color: var(--laranja);
}

.cadastrar-pet{
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: none;
    width: 22rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 7rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    
}

.cadastrar-pet:hover{
    transition: 0.3s;
    color: #FFF;
    background-color: var(--laranja);
    border: none;
    font-size: large;
    text-transform: none;
    width: 22rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 7rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px #818181;
}
.consulta-pet{
    position: absolute;
    bottom: 4rem;
    margin-left: 2rem;
    align-items: center;
}

@media (max-width:1000px){
    .line{
        margin: 10px 8px;
    }
    .content-wrap{
        top: 1.8rem;
        height: 75vh;
        width: 80vw;
        overflow: auto;
        
    }
    .botao-pet{
        width: 50vw;
        height: 8vh;
    }
}
/* small desk */

@media (max-width:1200px) and (max-height: 823px){
    .line{
        margin: 10px 8px;
    }
    .content-wrap{
        top: 1.8rem;
        height: 55vh;
        width: 60vw;
        overflow: auto;
        
    }
    .contato{
        font-size: clamp(20px,1vw,1.5vw);
    }
    .content-pets p{
        font-size: clamp(13px,1vw,1vw);
    }
    .nome-pet{
        font-size: clamp(28px,3vw,3vw);
        margin-bottom: 0.6rem;

    }
    .titulo-pet{
        margin-top: 0.7rem;
        font-size: clamp(16px,2vw,2vw);
    }
    .content-pets h3{
        font-size: clamp(13px,1vw,1vw);
    }
    .botao-pet{
        font-size: clamp(12px,1.2vw,1.5vw);
        width: 12rem;
        height: 2.8rem;
    }
}


/* mobiles */

@media (max-width: 660px) and (max-height: 900px){
    .content-wrap{
        top: 1.8rem;
        height: 60vh;
        width: 80vw;
        overflow: auto;
        
    }
}
@media (max-width: 660px) and (max-height: 660px){
    .content-wrap{
        top: 1.8rem;
        height: 75vh;
        width: 80vw;
        overflow: auto;
        
    }
}

/*  ipads */
@media (min-height: 950px){

    .content-wrap{
        top: 1.8rem;
        height: 75vh;
        width: 75vw;
        overflow: auto;
        
    }
    .contato{
        font-size: clamp(1.4rem,3vw,3.5vw);
    }
    .content-pets p{
        font-size: clamp(1.2rem,2.5vw,2.5vw);
    }
    .nome-pet{
        font-size: clamp(4rem,3vw,3vw);
        margin-bottom: 1.2rem;

    }
    .titulo-pet{
        margin-top: 1.6rem;
        font-size: clamp(1.2rem,3vw,3vw);
    }
    .content-pets h3{
        font-size: clamp(1rem,2.6vw,2.6vw);
    }
    .botao-pet{
        font-size: clamp(1.4rem,3vw,3.5vw);
        width: 45vw;
        height: 6vh;
        top: 4rem;
    }
}
/* pets fim */

/* perfil do dashboard */

.form-content-perfil{
    width: 50%;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    margin-top: 4rem;
    margin-left: 6rem;
}
.form-content-perfil2{
    display: block;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    margin-top: 2rem;
}
.form-content-perfil2 h1{
    color:var(--laranja);
}
.form-content-perfil2 img{
    width: 32px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
    border-radius: 100%;
    padding: 0.3rem;
    box-shadow: 2px 2px 2px 2px rgba(66, 78, 65, 0.2);
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
}
.tabelapet{
    text-align: right;
    width: 7rem;
}
td{
    font-size: 1.1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    font-weight: bold;
    color: var(--cinza);
}
th{
    color: var(--verde);
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    padding-right: 1.8rem;
}
.form-content-perfil h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--laranja);
    /* border-bottom: 1px solid var(--laranja); modificacao form */
    width: 100%;
    font-size: x-large;
}

.form-content-perfil h3{
    text-transform: none;
    font-size: 0.8rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--verde);
    width: 100%;
    
}

.content-cliente{
    display: flex;
    align-items: center;

}
.content-cliente-esquerda h3{
    width: 10.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 16.1px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}

.content-cliente-direita p{
    color: var(--cinza);
    font-size: 15.7px;
    font-weight: bold;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    width: 13.5rem;
    margin-top: 0.8rem;
    
}
/* perfil do dashboard fim */

/* dashboard */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    margin-top: 4rem;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

/*dashboard fim */

/* rodapé */

.footer-mestre{
    background: transparent;
    left: 0;
    
    text-align: center;
    font-weight: bold;
    bottom: 0;
    width: 100vw;
    height: 4.5rem;
    z-index: 400;
    font: 14px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}

.list-footer{
    margin-top: 1.6rem;
    margin-right: 1.5rem;
    color: rgba(241,241,230,0.7);
    
}
/* rodapé fim */

/* modal pets */

.modal-cl{
    display: flex;
    justify-content: center;
    transition: 0s;
    position: fixed;
    z-index: 1000;
    padding-top: 1rem;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.god-modal{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    animation: animatezoom 0.6s;
}

.modal-content{
    justify-content: center;
    background-color: #f1f1e6;
    width: 50%;
    right: 2rem;
    border-radius: 0.8rem;
    text-align: center;
}

.btn-excluir{
    color: #fff;
    background-color: red;
    border: none;
    width: 14rem;
    height: 3rem;
    margin-bottom: 1.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    
}
.btn-excluir:hover{
    color: #fff;
    background-color: grey;
    width: 14rem;
    height: 3rem;
    margin-bottom: 1.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-cancel{
    background-color: var(--laranja);
    color: #fff;
    font-family: var(--font);
    font-size: 14px;
    padding: 0.9rem 5rem;
    border-radius: 0.2rem;
}
.btn-cancel:hover{
    background-color: var(--verde);
    color: #fff;
    font-family: var(--font);
    font-size: 14px;
    padding: 0.9rem 5rem;
    border-radius: 0.2rem;
}

.close-sp {
    color: #aaaaaa;
    float: right;
    margin-right: 1.6rem;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-sp:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

/* modal pets fim */
/* modal pets fim */

/* Input Alterar PET*/

.input-altera button{
    width: 10rem;
    margin-left: 2rem;
    bottom: 3.1rem;
    width: 14rem;
}

.input-altera form{
    background-color: #f1f1e6;
    padding: 12rem;
    border: 1px solid var(--verde);
    width: 10%;
    border-radius: 0.8rem;
}

.input-altera h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--laranja);
    /* border-bottom: 1px solid var(--laranja); */
    width: 100%;
    font-size: 2.2rem;
}

.input-altera h2{
    text-transform: none;
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: var(--verde);
    width: 100%;
    
}
.input-altera input{
    width: 60%;
    padding: 0.6rem;
    margin-top: 1rem;
    
}
.input-altera input:focus{
    outline-color: var(--verde);
}
.botao-alterar{
    color: #FFF;
    background-color: var(--laranja);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 8rem;
    height: 3.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 4rem;
    border-radius: 5px;
}

.botao-alterar:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: var(--verde);
}
.ajustar-botão{
    display: flex;
    margin-left: 6rem;
}
.ajustar-botão a{
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 6rem;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: 2rem;
}
.ajustar-botão a:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: var(--laranja);
    border: none;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}

.voltar-pet{
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    margin-left: 1.5rem;
}
.voltar-pet:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: var(--verde);
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 16rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}
.form-content-perfil3{
    display: block;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    margin-top: 2rem;
    margin-left: 4rem;
}
.form-content-perfil3 h1{
    color:var(--laranja);
}
.content-alterarpet{
    display: flex;
    margin-left: 4rem;
}
.content-pet-esquerda h3{
    width: 11.5rem;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2rem;

    color: var(--cinza);

}
.content-pet-esquerda {
    margin-top: 0.4rem;
}
.content-pet-direita p{
    color: var(--cinza);
    font-size: 15.1px;
    font-weight: bold;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    width: 11.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
}
/* FINAL Input Alterar PET */
/* ------------------------ */

.content-alterarcliente-esquerda {
 
}
.input-altera-cliente form{
    background-color: #f1f1e6;
    padding: 12rem;
    border: 1px solid #468847;
    width: 10%;
    border-radius: 0.8rem;
}
.input-altera-cliente h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #e75f17;
    /* border-bottom: 1px solid #e75f17; */
    width: 100%;
    font-size: 2.2rem;
}

.input-altera-cliente h2{
    text-transform: none;
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #468847;
    width: 100%;
    
}
.input-altera-cliente input{
    width: 60%;
    padding: 0.6rem;
    margin-top: 1rem;
    
}
.input-altera-cliente input:focus{
    outline-color: #468847;
}