@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    list-style: none;
    text-decoration: none;

}
/**/
/* colors #e75f17 laranja; verde  #468847; pastel #f1f1e6;*/


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #14F86D; */
    background-color: #468847;
    /* background-image: url('imagens/jason-dent-unsplash.jpg'); */
    /* background-image: url('imagens/peter-de-lucia-eKZebEKI9mo-unsplash.jpg'); */
    background-image: url('imagens/artur-luczka-loAfOVk1eNc-unsplash.jpg');
    
    
    /* background-color: #fefefe; */

}
/*Barra de menu inicio*/

.menu-navegacao{
    background: transparent;
    background-color: #f1f1e6;
    left: 0;
    position: fixed;
    text-align: center;
    text-transform: none;
    font-weight: bold;
    top: 0;
    width: 100%;
    height: 4.5rem;
    z-index: 400;
    font: 14px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}

.menu-navegacao a{
    text-decoration: none;
    color: #e75f17;
    padding: 20px 0px;

}

.menu-navegacao a:hover{
    text-decoration: none;
    color: #468847;
    border-bottom: 2px solid #468847;

}


.menu-nav-menu{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 4.5rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    transition: background .4s ease-out,box-shadow .4s ease-out,height .4s ease;
    z-index: 900;
    color: #e75f17;
    /* color: #ed145b; */
}

.menu-central{
    position: relative;
    height: 0%;
    width: 100%;
}

.componentes-central{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    max-height: 100%;
    transition: max-height .4s ease;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;/**/
}

.menu-direita{
    position: relative;
}


.componentes-direita{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    -ms-flex-pack: justify;
    justify-content: space-between;  
}

.componentes-lista-direita{
    height: 100%;
    padding: 0px 20px;
    position: relative;
    cursor: pointer;
}

.componentes-lista-central{
    height: 100%;
    padding: 0 20px;
    position: relative;
}
/*barra de menu fim*/

/* login btn */



.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    color: #e75f17;
    text-decoration: none;
    cursor: pointer;
  }

.login{
    display: flex;   
}

.login-principal{
    display: none;
    transition: 0s;
    position: fixed;
    z-index: 1000;
    padding-top: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);

}
  
@keyframes animatezoom{
    from{transform:scale(0)} 
    to{transform:scale(1)}
}


.login-form{
    background-color: #f1f1e6;
    margin: auto;
    margin-top:2.4rem;
    padding: 12rem;
    border: 1px solid #468847;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 0.8rem;
    animation: animatezoom 0.6s;

}

.login-form h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #e75f17;
    /* border-bottom: 1px solid #e75f17; */
    width: 100%;
    font-size: 2.2rem;
}

.login-form h2{
    text-transform: none;
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #468847;
    width: 100%;
    
}
.login-form input{
    width: 95%;
    padding: 0.6rem;
    margin-top: 1rem;
    
}
.login-form input:focus{
    outline-color: #468847;
}

.botao-logar{
    color: #FFF;
    background-color: #468847;
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.botao-logar:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: #e75f17;
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.botao-cadastro{
    color: #FFF;
    background-color: #e75f17;
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.botao-cadastro:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: #468847;
    border: none;
    font-size: large;
    text-transform: uppercase;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}
/* login btn fim */

.slide-menu{ /*slider */
    width: 1100px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    
}
.slides{ /*slides */
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;

}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1100px;
    height: 700px;
}


/* manual */

.navegacao-manual{
    position: absolute;
    width: 1100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #e75f17;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #e75f17;
}

#radio1:checked ~ .um{
    margin-left: 0;
}

#radio2:checked ~ .um{
    margin-left: -20%;
}

#radio3:checked ~ .um{
    margin-left: -40%;
}

.navegacao-auto{
    position: absolute;
    display: flex;
    width: 1100px;
    justify-content: center;
    margin-top: 650px;
}

.navegacao-auto div{
    border: 2px solid #e75f17;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navegacao-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao-auto .nav-btn1{
    background: #e75f17;
}

#radio2:checked ~ .navegacao-auto .nav-btn2{
    background: #e75f17;
}

#radio3:checked ~ .navegacao-auto .nav-btn3{
    background: #e75f17;
}
/* cadastro de pets */
.form-background{
    box-shadow: 5px 10px 8px 10px rgba(66, 78, 65, 0.5);
    background-color: #f1f1e6;
    display: flex;
    justify-content: space-around;
    width: 36rem;
    height: 43.5rem;
    border-radius: 0.8rem;
    margin-top: 1rem;
}

.form-content{
    display: flex;
}
.form-content{
    padding: 12rem;
    width: 10%;
    display: flex;
    justify-content: center;
}

.form-content h1{
    
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #e75f17;
    /* border-bottom: 1px solid #e75f17; modficação do form*/
    width: 100%;
}

.contato{
    font-style: italic;
    text-align: center;
}

.descricao{
    text-align: center;
}

.form-content h2{
    text-transform: none;
    font-size: 0.8rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #468847;
    width: 100%;
    
}
.form-content input{
    width: 95%;
    padding: 0.6rem;
    margin-top: 1rem;
    color: #413f3f;
    
}
.form-content input:focus{
    outline-color: #468847;
}

.content-pets {
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}
.content-pets p{
    font-weight: bold;
    color: #413f3f;
    margin-top: 0;
}
.nome-pet{
    color: #468847;
    text-align: center;
    font-family:'Kaushan Script', cursive;
    font-size: 3rem;
    margin: 0rem 0rem 3rem 0rem;
}
.titulo-pet{
    color: #468847;
    text-align: center;
    border-top: none;
    margin: 3rem 0rem 0rem 0rem;
}

.content-pets h2{
    color: #e75f17;
}
.content-pets h3{
    text-transform: none;
    color: #468847;
    margin-bottom: 0;
}
.botao-pet{
    color: #FFF;
    background-color: #468847;
    border: none;
    font-size: large;
    text-transform: none;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
    cursor: pointer;
    border-radius: 5px;

}

.botao-pet:hover{
    transition: 0.6s;
    color: #FFF;
    background-color: #e75f17;
    border: none;
    font-size: large;
    text-transform: none;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: 3.5rem;
    border-radius: 5px;
}

.sexo{
    display: flex;
}

/* cadastro de pets fim */

/* perfil do dashboard */

.form-content-perfil{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-content-perfil2{
    justify-content: center;
    align-items: center;
    display: block;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}

td{
    padding-top: 1.5rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}
th{
    font-size: 1rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    padding-right: 2rem;
}

.form-content-perfil h1{
    text-transform: none;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #e75f17;
    /* border-bottom: 1px solid #e75f17; modificacao form */
    width: 100%;
    font-size: x-large;
}

.form-content-perfil h3{
    text-transform: none;
    font-size: 0.8rem;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    color: #468847;
    width: 100%;
    
}

.content-cliente{
    display: flex;
    align-items: center;

}
.content-cliente-esquerda h3{
    width: 11.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
    
}

.content-cliente-direita p{
    color: #413f3f;
    font-size: 15.1px;
    font-weight: bold;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
    width: 11.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
/* perfil do dashboard fim */

/* dashboard */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    margin-top: 4rem;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

/*dashboard fim */

/* rodapé */

.footer-mestre{
    background: transparent;
    left: 0;
    position: fixed;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    z-index: 400;
    font: 14px;
    font-family: 'Noto Sans','Open Sans bold', sans-serif;
}

.list-footer{
    margin-top: 1.6rem;
    margin-right: 1.5rem;
    color: rgba(241,241,230,0.7);
    
}
/* rodapé fim */